<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="ads_footer">

    <div class="columns pr-5 pl-5 has-text-centered">

        <div class="column">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit = "DAN-OPghfSGHOLdGJdlJ"
                 data-ad-width = "300"
                 data-ad-height = "250"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>


        <div class="column">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit = "DAN-1f22sNeH6puxNSbl"
                 data-ad-width = "300"
                 data-ad-height = "250"></ins>
<!--            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>-->
        </div>

        <div class="column">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit = "DAN-HEHh99g6pdekjkfQ"
                 data-ad-width = "300"
                 data-ad-height = "250"></ins>
<!--            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>-->
        </div>

    </div>

</div>
</html>