<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="layout_content">
    <div class="container is-fluid mt-5">
        <section class="hero is-danger">
            <div class="hero-body">
                <p class="title" th:text="${code}">

                </p>
                <p class="subtitle">
                    에러가 계속되면 관리자에게 문의해주세요
                </p>
            </div>
        </section>
    </div>
</th:block>
</html>

