<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="layout_content">
    <link rel="stylesheet" th:href="@{/css/bulma-list.css}">
    <div class="container is-fluid mt-5">
        <div class="list">
            <div class="list-item">
                <div class="list-item-image">
                    <span class="tag">업데이트</span>
                </div>

                <div class="list-item-content">
                    <div class="list-item-title">업데이트 알림</div>
                    <div class="list-item-description">22/04/09</div>
                </div>
            </div>

            <div class="list-item">
                <div class="list-item-image">
                    <span class="tag">오류수정</span>
                </div>

                <div class="list-item-content">
                    <div class="list-item-title">오류수정 알림</div>
                    <div class="list-item-description">22/04/09</div>
                </div>
            </div>

            <div class="list-item">
                <div class="list-item-image">
                    <span class="tag">점검예정</span>
                </div>

                <div class="list-item-content">
                    <div class="list-item-title">점검예정 알림</div>
                    <div class="list-item-description">22/04/09</div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>