<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<th:block layout:fragment="layout_content">
    <div class="container is-fluid mt-5">
        <table class="table is-striped">
            <tbody>
                <tr>
                    <th>업데이트</th>
                    <td>알로후모우라</td>
                    <td>04/08</td>
                </tr>

                <tr>
                    <th>업데이트</th>
                    <td>알로후모우라</td>
                    <td>04/08</td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>