<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="layout_content">
    <link rel="stylesheet" th:href="@{/css/bulma-list.css}">
    <div class="container is-fluid mt-5">
        <div class="list">
            <div class="list-item box" th:each="post : ${posts}">
                <div class="list-item-image">
                    <span class="tag" th:classappend="${post.noticeType == post.noticeType.UPDATE} ? 'is-info': 'is-danger'"
                          th:text="${post.noticeType.getTitle()}"></span>
                </div>

                <div class="list-item-content">
                    <a th:href="@{/notice(post=${post.id})}">
                        <div class="list-item-title" th:text="${post.title}"></div>
                    </a>
                    <div class="list-item-description"
                         th:text="${#temporals.format(post.createdDate, 'yy-MM-dd')}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>