<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="layout_content">
    <div class="container is-fluid mt-5 menu">
        <p class="menu-label">
            Credits
        </p>
        <ul class="menu-list">
            <li><a>Naver Static Map API v2</a></li>
            <li>
                <ul>
                    <li><a href="https://www.ncloud.com/policy/terms/opapi">license & policy</a></li>
                    <li><a href="https://www.ncloud.com/">homepage</a></li>
                </ul>
            </li>

            <li><a>Kakao Maps WEB API</a></li>
            <li>
                <ul>
                    <li><a href="https://developers.kakao.com/terms/latest/ko/site-policies">license & policy</a></li>
                    <li><a href="https://apis.map.kakao.com/">homepage</a></li>
                </ul>
            </li>

            <li><a>Selenium</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/SeleniumHQ/selenium/blob/trunk/LICENSE">license & policy</a></li>
                    <li><a href="https://www.selenium.dev/">homepage</a></li>
                </ul>
            </li>

            <li><a>Sock.js</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/sockjs/sockjs-client/blob/main/LICENSE">license & policy</a></li>
                    <li><a href="https://github.com/sockjs">homepage</a></li>
                </ul>
            </li>


            <li><a>canvas-toBlob.js</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/eligrey/canvas-toBlob.js/blob/master/LICENSE.md">license & policy</a></li>
                    <li><a href="https://github.com/eligrey/canvas-toBlob.js">homepage</a></li>
                </ul>
            </li>

            <li><a>bulma</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/jgthms/bulma/blob/master/LICENSE">license & policy</a></li>
                    <li><a href="https://bulma.io/">homepage</a></li>
                </ul>
            </li>

            <li><a>bulma-list</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/bluefantail/bulma-list/blob/main/LICENSE">license & policy</a></li>
                    <li><a href="https://github.com/bluefantail/bulma-list">homepage</a></li>
                </ul>
            </li>

            <li><a>email.js</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/eleith/emailjs/blob/main/LICENSE">license & policy</a></li>
                    <li><a href="https://www.emailjs.com/">homepage</a></li>
                </ul>
            </li>

            <li><a>showdown.js</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/showdownjs/showdown/blob/master/LICENSE">license & policy</a></li>
                    <li><a href="https://github.com/showdownjs">homepage</a></li>
                </ul>
            </li>

            <li><a>font-awesome</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/FortAwesome/Font-Awesome/blob/6.x/LICENSE.txt">license & policy</a></li>
                    <li><a href="https://fontawesome.com/">homepage</a></li>
                </ul>
            </li>
        </ul>
    </div>
</th:block>