<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="layout_content">

    <link rel="stylesheet" th:href="@{https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/bulma-list.css}">

        <section class="section is-main-section">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon"><i class="mdi mdi-bulletin-board"></i></span>
                        공지사항
                    </p>
                </header>
                <div class="card-content">
                    <div class="container is-fluid mt-5">
                        <div class="list has-visible-pointer-controls">
                            <div class="list-item box">
                                <div class="list-item-controls">
                                    <div class="buttons is-right">
                                        <a class="button is-link is-rounded is-inverted"
                                        th:href="@{/admin/notice/register}">
                                        <span class="icon">
                                            <i class="mdi mdi-plus-circle-outline mdi-36px"></i>
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="list-item box" th:each="post : ${posts}">
                                <div class="list-item-image">
                                    <span class="tag" th:text="${post.noticeType.getTitle()}"
                                          th:classappend="${post.noticeType == post.noticeType.UPDATE} ? 'is-info': 'is-danger'"></span>
                                </div>

                                <div class="list-item-content">
                                    <a th:href="@{/notice(post=${post.id})}">
                                        <div class="list-item-title" th:text="${post.title}"></div>
                                    </a>
                                    <div class="list-item-description"
                                         th:text="${#temporals.format(post.createdDate, 'yy-MM-dd')}">
                                    </div>
                                </div>


                                <div class="list-item-controls">
                                    <div class="buttons is-right">
                                        <a class="button is-light" th:href="@{/admin/notice/edit(post=${post.id})}">
                                            <span>편집</span>
                                        </a>

                                        <a class="button is-danger" onclick="return confirm('정말 삭제하시겠습니까?');" th:href="@{/admin/notice/delete(post=${post.id})}">
                                            <span>삭제</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container is-fluid mt-5">
                            <div class="pagination is-centered" role="navigation" aria-label="pagination">
                                <a th:if="${pageResponse.hasPrevious}" class="pagination-previous" th:href="@{/admin/notice(page=${pageResponse.previousPage})}">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                                <a th:if="${pageResponse.hasNext}" class="pagination-next" th:href="@{/admin/notice(page=${pageResponse.nextPage})}">
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                                <ul class="pagination-list">
                                    <li th:each="num : ${#numbers.sequence(pageResponse.startPage, pageResponse.lastPage)}">
                                        <a class="pagination-link" th:href="@{/admin/notice(page=${num})}" th:text="${num}"
                                           th:classappend="${pageResponse.nowPage == num} ? 'is-current': ''"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>

</th:block>
</html>