<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="layout_content">

    <section class="section is-main-section">
        <div class="card-content">
            <div class="list-item-controls">
                <div class="buttons is-left">
                    <a class="button is-link is-left" th:href="@{/admin/notice}">
                        <span>공지사항 편집</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

</th:block>
</html>